.publishContainer {
  width: 80vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #fff;
}

.publishCard {
  width: 80vw;
  min-height: 100vh;
  margin: 0;
  padding: 32px 48px 24px 48px;
  box-shadow: none;
  border: none;
  background: #fff;
}
.buttonGroup {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
.formLabel {
  font-weight: 500;
}